
html{
  overflow: hidden;
}
body{
  margin: auto;
}
button{
  background-color: rgb(37, 128, 162);
  border-bottom: 5px solid rgb(194, 10, 10);
}
#menu{
  display: grid;
  grid-template-columns: 500px;
  grid-gap: 25px;
}
button{
  width: 500px;
  height: 50px;
}
